## Movies data

### Explore and clean the data
---

In [9]:
####  Import statements
import pandas as pd

df = pd.read_csv("cost_revenue_dirty.csv")
df.sample(5)    # Checking a random sample of 5

,Rank,Release_Date,Movie_Title,USD_Production_Budget,USD_Worldwide_Gross,USD_Domestic_Gross
5027,5256,10/11/2015,Perfect Cowboy,"$200,000",$0,$0
4709,3964,10/24/2014,Ouija,"$5,000,000","$103,683,342","$50,856,010"
2483,1968,8/19/2005,The 40 Year-old Virgin,"$26,000,000","$177,344,230","$109,449,237"
4730,2766,11/14/2014,The Homesman,"$16,000,000","$3,442,853","$2,429,989"
96,4555,1/1/1962,Lolita,"$2,000,000","$9,250,000","$9,250,000"

In [20]:
#### Initial checks
df.head()
df.shape
df.columns      # Checks are fine
df.dtypes       # Last three usd columns need to be converted.

#Adjustments

    # Convert the currency to numbers
columns = ["USD_Production_Budget", "USD_Worldwide_Gross", "USD_Domestic_Gross"]
for column in columns:
    df[column]= df[column].astype(str).str.replace("$", "")
    df[column]= df[column].astype(str).str.replace(",", "")
    df[column] =pd.to_numeric(df["USD_Production_Budget"])

    # convert the date to datetime
df["Release_Date"] = pd.to_datetime(df["Release_Date"])
df["Release_Date"].dtypes

dtype('<M8[ns]')

In [41]:
# Secondary checks
    # check for missing data
df.isna().sum()
        # No missing data so no changes needed

    # checks for duplicates
        # Helps you to see them ( keep= false mean to keep all, can do first and the last.)
df [df[["Movie_Title","Release_Date"]].duplicated(keep = False)].sort_values("Movie_Title")
            # Intially did moveit title but the release dates are different.
            ## When accounting for release date and movie name there is only one duplicates
df[["Movie_Title", "Release_Date"]].duplicated().value_counts()
            # Only one item that identical

df.drop_duplicates(subset =["Movie_Title", "Release_Date"], keep ="first", inplace = True)
df[["Movie_Title", "Release_Date"]].duplicated().value_counts()

False    5390
Name: count, dtype: int64