In [23]:
import pandas as pd

In [24]:
# Loading the data
df = pd.read_csv("Salaries_By_College_Major.csv")
pd.options.display.float_format = '{:,.2f}'.format      ## Converts it into an easily readable format
df.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,"46,000.00","77,100.00","42,200.00","152,000.00",Business
1,Aerospace Engineering,"57,700.00","101,000.00","64,300.00","161,000.00",STEM
2,Agriculture,"42,600.00","71,900.00","36,300.00","150,000.00",Business
3,Anthropology,"36,800.00","61,500.00","33,800.00","138,000.00",HASS
4,Architecture,"41,600.00","76,800.00","50,600.00","136,000.00",Business

In [25]:
# Initial checks

df.head()

        # Checking the naming conventions of columns
df.rename(columns ={ "Undergraduate Major": "Undergraduate_Major",
            "Starting Median Salary":"Starting_Median_Salary",
            "Mid-Career Median Salary":"Mid-Career_Median_Salary",
            "Mid-Career 10th Percentile Salary":"Mid-Career_10th_Percentile_Salary",
            "Mid-Career 90th Percentile Salary":"Mid-Career_90th_Percentile_Salary",}, inplace = True)

        # Checking the types of data
df.dtypes
df.astype({"Starting_Median_Salary":"float64" ,
           "Mid-Career_Median_Salary":"float64"})

,Undergraduate_Major,Starting_Median_Salary,Mid-Career_Median_Salary,Mid-Career_10th_Percentile_Salary,Mid-Career_90th_Percentile_Salary,Group
0,Accounting,"46,000.00","77,100.00","42,200.00","152,000.00",Business
1,Aerospace Engineering,"57,700.00","101,000.00","64,300.00","161,000.00",STEM
2,Agriculture,"42,600.00","71,900.00","36,300.00","150,000.00",Business
3,Anthropology,"36,800.00","61,500.00","33,800.00","138,000.00",HASS
4,Architecture,"41,600.00","76,800.00","50,600.00","136,000.00",Business
5,Art History,"35,800.00","64,900.00","28,800.00","125,000.00",HASS
6,Biology,"38,800.00","64,800.00","36,900.00","135,000.00",STEM
7,Business Management,"43,000.00","72,100.00","38,800.00","147,000.00",Business
8,Chemical Engineering,"63,200.00","107,000.00","71,900.00","194,000.00",STEM
9,Chemistry,"42,600.00","79,900.00","45,300.00","148,000.00",STEM
10,Civil Engineering,"53,900.00","90,500.00","63,400.00","148,000.00",STEM
11,Communications,"38,100.00","70,000.00","37,500.00","143,000.00",HASS
12,Computer Engineering,"61,400.00","105,000.00","66,100.00","162,000.00",STEM
13,Computer Science,"55,900.00","95,500.00","56,000.00","154,000.00",STEM
14,Construction,"53,700.00","88,900.00","56,300.00","171,000.00",Business
15,Criminal Justice,"35,000.00","56,300.00","32,200.00","107,000.00",HASS
16,Drama,"35,900.00","56,900.00","36,700.00","153,000.00",HASS
17,Economics,"50,100.00","98,600.00","50,600.00","210,000.00",Business
18,Education,"34,900.00","52,000.00","29,300.00","102,000.00",HASS
19,Electrical Engineering,"60,900.00","103,000.00","69,300.00","168,000.00",STEM
20,English,"38,000.00","64,700.00","33,400.00","133,000.00",HASS
21,Film,"37,900.00","68,500.00","33,900.00","136,000.00",HASS
22,Finance,"47,900.00","88,300.00","47,200.00","195,000.00",Business
23,Forestry,"39,100.00","62,600.00","41,000.00","111,000.00",Business
24,Geography,"41,200.00","65,500.00","40,000.00","132,000.00",HASS
25,Geology,"43,500.00","79,500.00","45,000.00","156,000.00",STEM
26,Graphic Design,"35,700.00","59,800.00","36,000.00","112,000.00",HASS
27,Health Care Administration,"38,800.00","60,600.00","34,600.00","101,000.00",Business
28,History,"39,200.00","71,000.00","37,000.00","149,000.00",HASS
29,Hospitality & Tourism,"37,800.00","57,500.00","35,500.00","124,000.00",Business
30,Industrial Engineering,"57,700.00","94,700.00","57,100.00","173,000.00",STEM
31,Information Technology (IT),"49,100.00","74,800.00","44,500.00","129,000.00",STEM
32,Interior Design,"36,100.00","53,200.00","35,700.00","107,000.00",HASS
33,International Relations,"40,900.00","80,900.00","38,200.00","157,000.00",HASS
34,Journalism,"35,600.00","66,700.00","38,400.00","145,000.00",HASS
35,Management Information Systems (MIS),"49,200.00","82,300.00","45,300.00","146,000.00",STEM
36,Marketing,"40,800.00","79,600.00","42,100.00","175,000.00",Business
37,Math,"45,400.00","92,400.00","45,200.00","183,000.00",STEM
38,Mechanical Engineering,"57,900.00","93,600.00","63,700.00","163,000.00",STEM
39,Music,"35,900.00","55,000.00","26,700.00","134,000.00",HASS
40,Nursing,"54,200.00","67,000.00","47,600.00","98,300.00",Business
41,Nutrition,"39,900.00","55,300.00","33,900.00","99,200.00",HASS
42,Philosophy,"39,900.00","81,200.00","35,500.00","168,000.00",HASS
43,Physician Assistant,"74,300.00","91,700.00","66,400.00","124,000.00",STEM
44,Physics,"50,300.00","97,300.00","56,000.00","178,000.00",STEM
45,Political Science,"40,800.00","78,200.00","41,200.00","168,000.00",HASS
46,Psychology,"35,900.00","60,400.00","31,600.00","127,000.00",HASS
47,Religion,"34,100.00","52,000.00","29,700.00","96,400.00",HASS
48,Sociology,"36,500.00","58,200.00","30,700.00","118,000.00",HASS
49,Spanish,"34,000.00","53,100.00","31,000.00","96,400.00",HASS
50,Source: PayScale Inc.,NaN,NaN,NaN,NaN,NaN

In [26]:
# checks for missing data
df.isna().sum()
        # Tells you the count of the missing values
df.dropna(inplace=True)
        # Checks for the shape of the data
df.shape
df.isnull().sum()

Undergraduate_Major                  0
Starting_Median_Salary               0
Mid-Career_Median_Salary             0
Mid-Career_10th_Percentile_Salary    0
Mid-Career_90th_Percentile_Salary    0
Group                                0
dtype: int64

In [27]:
# Descriptive statistics
df.describe()
    # Could also run the percentage of outliner values,

,Starting_Median_Salary,Mid-Career_Median_Salary,Mid-Career_10th_Percentile_Salary,Mid-Career_90th_Percentile_Salary
count,50.00,50.00,50.00,50.00
mean,"44,310.00","74,786.00","43,408.00","142,766.00"
std,"9,360.87","16,088.40","12,000.78","27,851.25"
min,"34,000.00","52,000.00","26,700.00","96,400.00"
25%,"37,050.00","60,825.00","34,825.00","124,250.00"
50%,"40,850.00","72,000.00","39,400.00","145,500.00"
75%,"49,875.00","88,750.00","49,850.00","161,750.00"
max,"74,300.00","107,000.00","71,900.00","210,000.00"

## Challenge Questions( Use of choosing columns  + Max, Min ,idxmax() etc)

---


Now that we've found the major with the highest starting salary, can you write the code to find the following:

What college major has the highest mid-career salary? How much do graduates with this major earn? (Mid-career is defined as having 10+ years of experience).

Which college major has the lowest starting salary and how much do graduates earn after university?

Which college major has the lowest mid-career salary and how much can people expect to earn with this degree?

In [28]:
# Question 1:
highest_mid_career_salary = df["Mid-Career_10th_Percentile_Salary"].idxmax()
print("Question 1:")
display(df.loc[highest_mid_career_salary, ["Undergraduate_Major","Mid-Career_10th_Percentile_Salary" ]])


# Question 2:
lowest_starting_salary = df["Starting_Median_Salary"].idxmin()
print("Question 2:")
display(df.loc[lowest_starting_salary, ["Undergraduate_Major", "Starting_Median_Salary"]])

# Question 3:
lowest_mid_career_salary = df["Mid-Career_Median_Salary"].idxmin()
print("Question 3:")
display(df.loc[lowest_mid_career_salary, ["Undergraduate_Major", "Mid-Career_Median_Salary"]])

Question 1:

Undergraduate_Major                  Chemical Engineering
Mid-Career_10th_Percentile_Salary               71,900.00
Name: 8, dtype: object

Question 2:

Undergraduate_Major        Spanish
Starting_Median_Salary   34,000.00
Name: 49, dtype: object

Question 3:

Undergraduate_Major         Education
Mid-Career_Median_Salary    52,000.00
Name: 18, dtype: object

### Use of the insert function

In [29]:
## Create a new column with a new function called spread
spread =df ["Mid-Career_90th_Percentile_Salary"]- df["Mid-Career_10th_Percentile_Salary"]
# Insert function parameters (Where column, name , column_Data)
df.insert(1, "Spread", spread)
print(df.head())

     Undergraduate_Major     Spread  Starting_Median_Salary  \
0             Accounting 109,800.00               46,000.00
1  Aerospace Engineering  96,700.00               57,700.00
2            Agriculture 113,700.00               42,600.00
3           Anthropology 104,200.00               36,800.00
4           Architecture  85,400.00               41,600.00

   Mid-Career_Median_Salary  Mid-Career_10th_Percentile_Salary  \
0                 77,100.00                          42,200.00
1                101,000.00                          64,300.00
2                 71,900.00                          36,300.00
3                 61,500.00                          33,800.00
4                 76,800.00                          50,600.00

   Mid-Career_90th_Percentile_Salary     Group
0                         152,000.00  Business
1                         161,000.00      STEM
2                         150,000.00  Business
3                         138,000.00      HASS
4                         136,000.00  Business

### Use of the Sort values function.

In [30]:
## Wish to sort the Spread column in ascending or descending
## sort_values(name of the columns, whether you want it ascending or not )
df.sort_values("Spread", ascending = False)

,Undergraduate_Major,Spread,Starting_Median_Salary,Mid-Career_Median_Salary,Mid-Career_10th_Percentile_Salary,Mid-Career_90th_Percentile_Salary,Group
17,Economics,"159,400.00","50,100.00","98,600.00","50,600.00","210,000.00",Business
22,Finance,"147,800.00","47,900.00","88,300.00","47,200.00","195,000.00",Business
37,Math,"137,800.00","45,400.00","92,400.00","45,200.00","183,000.00",STEM
36,Marketing,"132,900.00","40,800.00","79,600.00","42,100.00","175,000.00",Business
42,Philosophy,"132,500.00","39,900.00","81,200.00","35,500.00","168,000.00",HASS
45,Political Science,"126,800.00","40,800.00","78,200.00","41,200.00","168,000.00",HASS
8,Chemical Engineering,"122,100.00","63,200.00","107,000.00","71,900.00","194,000.00",STEM
44,Physics,"122,000.00","50,300.00","97,300.00","56,000.00","178,000.00",STEM
33,International Relations,"118,800.00","40,900.00","80,900.00","38,200.00","157,000.00",HASS
16,Drama,"116,300.00","35,900.00","56,900.00","36,700.00","153,000.00",HASS
30,Industrial Engineering,"115,900.00","57,700.00","94,700.00","57,100.00","173,000.00",STEM
14,Construction,"114,700.00","53,700.00","88,900.00","56,300.00","171,000.00",Business
2,Agriculture,"113,700.00","42,600.00","71,900.00","36,300.00","150,000.00",Business
28,History,"112,000.00","39,200.00","71,000.00","37,000.00","149,000.00",HASS
25,Geology,"111,000.00","43,500.00","79,500.00","45,000.00","156,000.00",STEM
0,Accounting,"109,800.00","46,000.00","77,100.00","42,200.00","152,000.00",Business
7,Business Management,"108,200.00","43,000.00","72,100.00","38,800.00","147,000.00",Business
39,Music,"107,300.00","35,900.00","55,000.00","26,700.00","134,000.00",HASS
34,Journalism,"106,600.00","35,600.00","66,700.00","38,400.00","145,000.00",HASS
11,Communications,"105,500.00","38,100.00","70,000.00","37,500.00","143,000.00",HASS
3,Anthropology,"104,200.00","36,800.00","61,500.00","33,800.00","138,000.00",HASS
9,Chemistry,"102,700.00","42,600.00","79,900.00","45,300.00","148,000.00",STEM
21,Film,"102,100.00","37,900.00","68,500.00","33,900.00","136,000.00",HASS
35,Management Information Systems (MIS),"100,700.00","49,200.00","82,300.00","45,300.00","146,000.00",STEM
20,English,"99,600.00","38,000.00","64,700.00","33,400.00","133,000.00",HASS
38,Mechanical Engineering,"99,300.00","57,900.00","93,600.00","63,700.00","163,000.00",STEM
19,Electrical Engineering,"98,700.00","60,900.00","103,000.00","69,300.00","168,000.00",STEM
6,Biology,"98,100.00","38,800.00","64,800.00","36,900.00","135,000.00",STEM
13,Computer Science,"98,000.00","55,900.00","95,500.00","56,000.00","154,000.00",STEM
1,Aerospace Engineering,"96,700.00","57,700.00","101,000.00","64,300.00","161,000.00",STEM
5,Art History,"96,200.00","35,800.00","64,900.00","28,800.00","125,000.00",HASS
12,Computer Engineering,"95,900.00","61,400.00","105,000.00","66,100.00","162,000.00",STEM
46,Psychology,"95,400.00","35,900.00","60,400.00","31,600.00","127,000.00",HASS
24,Geography,"92,000.00","41,200.00","65,500.00","40,000.00","132,000.00",HASS
29,Hospitality & Tourism,"88,500.00","37,800.00","57,500.00","35,500.00","124,000.00",Business
48,Sociology,"87,300.00","36,500.00","58,200.00","30,700.00","118,000.00",HASS
4,Architecture,"85,400.00","41,600.00","76,800.00","50,600.00","136,000.00",Business
10,Civil Engineering,"84,600.00","53,900.00","90,500.00","63,400.00","148,000.00",STEM
31,Information Technology (IT),"84,500.00","49,100.00","74,800.00","44,500.00","129,000.00",STEM
26,Graphic Design,"76,000.00","35,700.00","59,800.00","36,000.00","112,000.00",HASS
15,Criminal Justice,"74,800.00","35,000.00","56,300.00","32,200.00","107,000.00",HASS
18,Education,"72,700.00","34,900.00","52,000.00","29,300.00","102,000.00",HASS
32,Interior Design,"71,300.00","36,100.00","53,200.00","35,700.00","107,000.00",HASS
23,Forestry,"70,000.00","39,100.00","62,600.00","41,000.00","111,000.00",Business
47,Religion,"66,700.00","34,100.00","52,000.00","29,700.00","96,400.00",HASS
27,Health Care Administration,"66,400.00","38,800.00","60,600.00","34,600.00","101,000.00",Business
49,Spanish,"65,400.00","34,000.00","53,100.00","31,000.00","96,400.00",HASS
41,Nutrition,"65,300.00","39,900.00","55,300.00","33,900.00","99,200.00",HASS
43,Physician Assistant,"57,600.00","74,300.00","91,700.00","66,400.00","124,000.00",STEM
40,Nursing,"50,700.00","54,200.00","67,000.00","47,600.00","98,300.00",Business

### Challenge

Using the .sort_values() method, can you find the degrees with the highest potential? Find the top 5 degrees with the highest values in the 90th percentile.

In [31]:
### Question 1:
df.sort_values("Mid-Career_90th_Percentile_Salary", ascending = False)[["Undergraduate_Major", "Mid-Career_90th_Percentile_Salary"]].head()

     Undergraduate_Major  Mid-Career_90th_Percentile_Salary
17             Economics                         210,000.00
22               Finance                         195,000.00
8   Chemical Engineering                         194,000.00
37                  Math                         183,000.00
44               Physics                         178,000.00

### Use of the Groupby function

In [32]:
### Use of the group function

#Parameters .grupby(name of the column). the function you want to apply to it

df.groupby("Group").count()

,Undergraduate_Major,Spread,Starting_Median_Salary,Mid-Career_Median_Salary,Mid-Career_10th_Percentile_Salary,Mid-Career_90th_Percentile_Salary
Group,,,,,,
Business,12,12,12,12,12,12
HASS,22,22,22,22,22,22
STEM,16,16,16,16,16,16

In [33]:
# Average salaries by Groups
df.groupby("Group").mean(numeric_only=True)

,Spread,Starting_Median_Salary,Mid-Career_Median_Salary,Mid-Career_10th_Percentile_Salary,Mid-Career_90th_Percentile_Salary
Group,,,,,
Business,"103,958.33","44,633.33","75,083.33","43,566.67","147,525.00"
HASS,"95,218.18","37,186.36","62,968.18","34,145.45","129,363.64"
STEM,"101,600.00","53,862.50","90,812.50","56,025.00","157,625.00"