## Tesla Dataset

In [10]:
# Import statement
import pandas as pd

# Adding the dataset
tesla_df = pd.read_csv("./Data/TESLA Search Trend vs Price.csv")
tesla_df.head()

        MONTH  TSLA_WEB_SEARCH  TSLA_USD_CLOSE
0  2010-06-01                3           4.766
1  2010-07-01                3           3.988
2  2010-08-01                2           3.896
3  2010-09-01                2           4.082
4  2010-10-01                2           4.368

In [14]:
# Initial checks - to get an understanding of the dataset
tesla_df.head()
tesla_df.shape

# Checks for columns and datatypes
tesla_df.columns
tesla_df.dtypes         # Could convert the month into a d datetime object

# Adjsutments
tesla_df["MONTH"]= pd.to_datetime(tesla_df["MONTH"])
tesla_df["MONTH"].dtypes

dtype('<M8[ns]')

In [12]:
# Checks for missing data
tesla_df.isna().sum()       # There are no missing data

MONTH              0
TSLA_WEB_SEARCH    0
TSLA_USD_CLOSE     0
dtype: int64

In [9]:
# Describe the data
tesla_df.describe()

       TSLA_WEB_SEARCH  TSLA_USD_CLOSE
count       124.000000      124.000000
mean          8.725806       50.962145
std           5.870332       65.908389
min           2.000000        3.896000
25%           3.750000        7.352500
50%           8.000000       44.653000
75%          12.000000       58.991999
max          31.000000      498.320007