## Hospital Death Cases

### Import statements

In [79]:
###  Import statements
import pandas as pd

In [80]:
## Importing the datast
df = pd.read_csv("annual_deaths_by_clinic.csv", quotechar="'")          ## Removes the characters
df.sample(5)

    year  births  deaths    clinic
4   1845    3492     241  clinic 1
11  1846    3754     105  clinic 2
2   1843    3060     274  clinic 1
6   1841    2442      86  clinic 2
3   1844    3157     260  clinic 1

### Intial adjustment of the dataset

In [94]:
## Checks fort columns, shape, head, and types
df.head()               ## Starts at 1841.
df.tail()               ## Two clinics

df.columns              ## Want to get it pascal case to make it easier
df.dtypes               ## Years need to be converted, Check clinic if its a string or not
df.shape

#=================================Adjustments==================================#
        # Adjusting column names
df.rename(columns={"year":"Year",
                   "births":"Births",
                   "deaths":"Deaths",
                   "clinic":"Clinic", },
         inplace=True)

        ## Adjusting the data type
df["Year"]= df["Year"].astype(str)                          # Convert it into string so the nanosecond problem does not apply
df["Year"]= pd.to_datetime(df["Year"],errors="coerce" )     # Convert everything but dont crash if it does not work
df["Year"]= df["Year"].dt.year

In [93]:
## Adjust the non-necessary columns, duplicated values and the role of missing values

    ## Checks for the columns to be dropped # No columns need to be dropped

    ## Checks for duplicated values
df.duplicated(keep=False).sum()             # There are no identical values since the duplicated functions comes up as 0.

    ## Checks for missing values
df.isna().sum()                             # no  missing values in the categories.

Year      0
Births    0
Deaths    0
Clinic    0
dtype: int64

### Descriptive statistics for the categories

In [95]:
df.describe()

              Year       Births      Deaths
count    12.000000    12.000000   12.000000
mean   1843.500000  3152.750000  223.333333
std       1.783765   449.078476  145.383089
min    1841.000000  2442.000000   66.000000
25%    1842.000000  2901.750000  100.250000
50%    1843.500000  3108.500000  219.500000
75%    1845.000000  3338.250000  263.500000
max    1846.000000  4010.000000  518.000000