# Advanced Pandas

### Colours dataset
---

In [3]:
# Import statements

import pandas as pd

df = pd.read_csv("./data/colors.csv")

In [9]:
# Initial checks
df.head()       # Needs to adjust the column names
df.shape
df.columns
df.dtypes

# Adjustments
df.columns = ["ID", "NAME", "RGB", "IS_TRANS"]
df.head()

   ID            NAME     RGB IS_TRANS
0  -1         Unknown  0033B2        f
1   0           Black  05131D        f
2   1            Blue  0055BF        f
3   2           Green  237841        f
4   3  Dark Turquoise  008F9B        f

#### Challenge
Read the colors.csv file from the data folder and find the total number of unique colours.

In [21]:
# Drop na argument means it tells pandas not to ignore the nan values
df["NAME"].nunique(dropna=False)

135

Also, figure out how many of the LEGO colours are transparent compared to how many colours are opaque.

In [26]:
df[df["IS_TRANS"]=="t"].count()         # Count is the number of valid nan entires

# Or
df.groupby("IS_TRANS").count()

# or
df["IS_TRANS"].value_counts()           # Breakdown of how each unique value appears

IS_TRANS
f    107
t     28
Name: count, dtype: int64

### Sets Dataset
---

In [27]:
sets_df = pd.read_csv("./data/sets.csv")

In [30]:
# Initial checks
sets_df.head()
sets_df.columns         # Columns need to be changed but its fine for practive
sets_df.dtypes
sets_df.shape

# Adjustments section --- T

(15710, 5)

In [32]:
# Missing valies
sets_df.isna().sum()

    # Can drop the values or fill it
    #  In this case there are no missing values


# Run descriptive statistics section

set_num      0
name         0
year         0
theme_id     0
num_parts    0
dtype: int64

### Challenge
---

In which year were the first LEGO sets released and what were these sets called?

In [50]:
min_index= sets_df["year"].idxmin()
name = sets_df.loc[min_index,"name"]
year = sets_df.loc[min_index,"year"]
f" The first lego sets were released in {year}. it was called {name}"

' The first lego sets were released in 1949. it was called Extra-Large Gift Set (ABB)'

How many different products did the LEGO company sell in their first year of operation?

In [57]:
sets_df["name"].nunique()

13437

What are the top 5 LEGO sets with the most number of parts?

In [61]:
sets_df.sort_values(ascending=False, by= "num_parts").head()

        set_num                           name  year  theme_id  num_parts
15004  BIGBOX-1  The Ultimate Battle for Chima  2015       571       9987
11183   75192-1          UCS Millennium Falcon  2017       171       7541
10551   71043-1                Hogwarts Castle  2018       246       6020
295     10256-1                      Taj Mahal  2017       673       5923
221     10189-1                      Taj Mahal  2008       673       5922

In [ ]:
_