## Google app Dataset

In [13]:
import pandas as pd

dataset = pd.read_csv("Dataset.csv")
dataset.sample(5)

,App,Category,Rating,Reviews,Size_MBs,Installs,Type,Price,Content_Rating,Genres,Last_Updated,Android_Ver
6143,Sweet mi - unlimited hunnam hunting blind date,DATING,4.0,6191,27.0,"500,000",Free,0,Mature 17+,Dating,"July 12, 2018",4.1 and up
5830,Little Pets Animal Guardians,FAMILY,4.6,18893,91.0,"100,000",Free,0,Everyone,Casual;Pretend Play,"June 9, 2018",4.0.3 and up
6716,El Laberinto del Demonio 3D,FAMILY,4.0,20421,31.0,"1,000,000",Free,0,Teen,Puzzle,"August 20, 2015",2.3 and up
1248,Bacterial Vaginosis,HEALTH_AND_FITNESS,NaN,1,4.9,100,Free,0,Everyone,Health & Fitness,"February 21, 2018",4.0 and up
963,Aura Hair Group BC,BEAUTY,NaN,0,9.1,100,Free,0,Everyone,Beauty,"April 23, 2018",4.0.3 and up

#### Initial checks

In [7]:

dataset.head()
dataset.shape
dataset.columns     # No need to adjust
dataset.dtypes      # No need fot adjustments

App                object
Category           object
Rating            float64
Reviews             int64
Size_MBs          float64
Installs           object
Type               object
Price              object
Content_Rating     object
Genres             object
Last_Updated       object
Android_Ver        object
dtype: object

#### Remove irrelevant columns

In [14]:
dataset.drop(columns = ["Last_Updated", "Android_Ver" ], inplace = True)

#### Missing Data

In [20]:
dataset [ dataset.isna()]   # See the columns that are missing

dataset.isna().sum()        # Seeing the total number of missing values

# Dropping the rows with any missing values
clean_df = dataset.dropna()
clean_df.shape

(9367, 10)

#### Checking for duplicates

In [27]:
# Check for the duplicates
clean_df.duplicated().value_counts()        # 476v are duplicates exactly.
                                            # only flags the second one - first is considered the original

# Getting rid of the duplicates
clean_df.drop_duplicates( subset  =[ "App", "Type", "Price"])
    # Keep only one row per app name,price, and type, even if other columns differ.

,App,Category,Rating,Reviews,Size_MBs,Installs,Type,Price,Content_Rating,Genres
21,KBA-EZ Health Guide,MEDICAL,5.0,4,25.00,1,Free,0,Everyone,Medical
28,Ra Ga Ba,GAME,5.0,2,20.00,1,Paid,$1.49,Everyone,Arcade
47,Mu.F.O.,GAME,5.0,2,16.00,1,Paid,$0.99,Everyone,Arcade
82,Brick Breaker BR,GAME,5.0,7,19.00,5,Free,0,Everyone,Arcade
99,Anatomy & Physiology Vocabulary Exam Review App,MEDICAL,5.0,1,4.60,5,Free,0,Everyone,Medical
...,...,...,...,...,...,...,...,...,...,...
10824,Google Drive,PRODUCTIVITY,4.4,2731171,4.00,"1,000,000,000",Free,0,Everyone,Productivity
10828,YouTube,VIDEO_PLAYERS,4.3,25655305,4.65,"1,000,000,000",Free,0,Teen,Video Players & Editors
10829,Google Play Movies & TV,VIDEO_PLAYERS,3.7,906384,4.65,"1,000,000,000",Free,0,Teen,Video Players & Editors
10831,Google News,NEWS_AND_MAGAZINES,3.9,877635,13.00,"1,000,000,000",Free,0,Teen,News & Magazines
10835,Subway Surfers,GAME,4.5,27722264,76.00,"1,000,000,000",Free,0,Everyone 10+,Arcade